license-plate.zip filter=lfs diff=lfs merge=lfs -text
VIDEO[[:space:]]FILES[[:space:]]OF[[:space:]]WORKING[[:space:]]PROJECT/license-plate-read-final.py[[:space:]]-[[:space:]]license-plate[[:space:]]-[[:space:]]Visual[[:space:]]Studio[[:space:]]Code[[:space:]]2023-09-24[[:space:]]16-39-28.mp4 filter=lfs diff=lfs merge=lfs -text
